{% extends 'base.html' %}

{% block content %}
<h1>Quem Sou Eu</h1>

<!-- Perfil redondo com margem verde -->
<div class="perfil-container">
  <img src="{% static 'img/minha_foto.jpg' %}" alt="Minha Foto" class="perfil-img" />
  <p class="explicacao">Olá! Eu sou Marcos Felipe Amorim Mendes, Estudante de Nutrição apaixonado pela saúde e bem-estar das pessoas. Acredito no poder da alimentação natural para promover uma vida mais saudável e equilibrada. Estou aqui para ajudá-lo a alcançar seus objetivos!</p>
</div>

{% endblock %}
